<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8">
  <title>Recipes Home Page</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

  <style>

    #background-update-recipe {

    background: url('/images/ice-cream.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
  </style>
</head>
<body id="background-update-recipe">

<hr/>


<div class="container py-4 middleOfPage" >
  <div class="card bg-dark text-white">
    <div class="card-header text-center"Recipes Home Page</div>
  <div class="card-body">
    <form action="#" th:action="@{/update}" th:object="${recipe}" method="POST">
      <input type="hidden" th:field="*{id}" readonly="readonly" />

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">description</label>
        <div class="col-sm-6">
          <input type="text" th:field="*{description}" placeholder="Description" style="
    width: 165%;">
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">total</label>
        <div class="col-sm-6">
          <input type="text" th:field="*{total}" placeholder="Total" style="
    width: 165%;">
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Ingredients</label>
        <div class="col-sm-6">
          <input type="text" th:field="*{ingredients}" placeholder="Ingredients" style="
    width: 165%;">
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Method Steps</label>
        <div class="col-sm-6">
          <input type="text" th:field="*{methodSteps}" placeholder="Method Steps" style="
    width: 165%;">
        </div>
      </div>


      <div class="form-group row">

        <div class="col-sm-6">
          <button type="submit" class="btn btn-success"> Update Recipe</button>
        </div>
      </div>

      <div class="recipe-footer-right">
        <a th:href="@{/}">Go to Home Page</a>
      </div>



    </form>
  </div>
</div>
</div>


</body>
</html>