<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Recipes</h1>
    <table>
        <tr>
            <th>Recipe</th>
            <th>Nutrition Info</th>
            <th></th>
        </tr>
        <tr th:each="recipe : ${recipes}">
                <td th:text="${recipe.descritpion + ' ' + recipe.ingredients}">
                </td>
        <td>
        <span th:each="Nutritions,iterStat : ${recipe.nutritionInfo}">
            <span th:text="${skill.total}"/><th:block
                th:if="${!iterStat.last}">,</th:block>
        </span>
        </td>
            <td>
                <a th:href="@{/recipe/{id}(id=${recipe.id})}">view</a>
            </td>
        </tr>
    </table>
    <hr/>
    <form th:action="@{/recipes}" method="post" enctype="multipart/form-data">
        <div>
            Description: <input description="" />
        </div>
        <div>
            Last name: <input name="lastName" />
        </div>
        <div>
            Email: <input name="email" />
        </div>
        <div>
            <input type="submit" value="Create developer" name="button"/>
        </div>
    </form>
</body>
</html>

    </table>
</body>
</html>